body {
  max-width: 1280px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin:auto;
}

header {
  text-align: center;
  background-image: linear-gradient(to right, blue, purple);
  color: white;
}

main {
  display:inline-flex;
  min-width: 100%;
  justify-content: space-between;
  margin: 20px
}

#search {
  /* display:inline-block; */
}
#search-form input {
  width: 100%;
  height: 2em;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}
#search button {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 2em;
  box-sizing: border-box;
  margin-top: 0.75em;
}

form button {
  background-color: #8080ff;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
  overflow: auto;
  border-top: 1px solid black;
  /* max-height: 20px; */
}
.cityBtn {
  color:black;
  background-color: lightgray;
}

#display {
  min-width: 75%;
  margin-right: 40px;
}

#current-weather {
  min-height: 240px;
  min-width: 100%;
  border: 2px solid black;
}

.uv {
  color: white;
  display: inline-block;
  text-align: center;
  min-width: 80px;
  border-radius: 2px;
}

.uv-favorable {
  background-color: green;
}
.uv-moderate {
  background-color: yellow;
}
.uv-severe {
  background-color: red;
}

#forecast-list {
  display: flex;
  justify-content: space-between;
}

.forecast-card {
  background-color: purple;
  color: white;
  min-width: 18%;
  box-sizing: border-box;
  padding: .5em;
}
